@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.title-font {
  @apply font-medium not-italic text-3xl text-gray-900 leading-10;
}

.title2-font {
  @apply font-medium not-italic text-2xl text-gray-900 leading-5;
}

.title3-font {
  @apply font-normal not-italic text-xl text-gray-900 leading-9;
}

.subtitle-font {
  @apply font-normal not-italic text-base text-gray-500 leading-6;
}

.n-font {
  @apply font-medium not-italic text-sm text-gray-900 leading-5;
}

.logo-font {
  @apply font-logo not-italic text-2xl leading-7;
}

.nav-header {
  @apply font-normal not-italic text-base text-gray-900 leading-[19px] tracking-[0.06em] uppercase py-4;
}

.nav-link {
  @apply font-medium not-italic text-base text-[#384853] leading-[19px] tracking-[0.06em];
}

.nav-item {
  @apply flex items-center gap-1;
}

.success {
  @apply bg-[#ECFDF3] text-[#027A48];
}

.danger {
  @apply bg-[#FFFAEB] text-[#B54708];
}

.warning {
  @apply bg-[#FEF3F2] text-[#B42318];
}

.card-shadow {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}

.rdt_TableHeadRow {
  font-size: 14px;
  line-height: 18px;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.pay-now-shadow {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
